{{#if bt_search}}
<div id="buttonsBar">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<div class="search">
<form class="form-inline btn-sm" >
      {{!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> --}}
      <input class="form-control btn-sm" id="myInput" name="search" type="search" placeholder="Localizar..">
</form>
</div>
</div>
{{/if}}