<br>
<div class="card text-center">
    <h5 class="card-header">Olá {{user.nome}}, BEM VINDO AO PAINEL DE ANÚNCIOS DA NOSSA COMUNIDADE! </h5>
    <div class="card-body">
    "Porque Deus tanto amou o mundo que deu o seu Filho Unigênito, para que todo o que nele crer não pereça, mas tenha a vida eterna"..João 3:16
</div></div>